@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #ff7c4e;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.header {
  overflow: hidden;
  position: relative;
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  padding-top: 44px;
  overflow: hidden;
  color: #fff;
}

.header a {
  color: inherit;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url('/img/header/header-bottom.svg');
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: '';

  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;

  display: block;
  width: 35px;
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__login {
  display: flex;
  align-items: center;
  column-gap: 25px;

  font-size: 15px;
  font-weight: 500;
}

/* header content */

.header__badge {
  margin-bottom: 7px;
  display: inline-block;
  padding: 11px 30px;
  font-size: 18px;
  font-weight: 500;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

.header__title {
  margin-bottom: 30px;
  font-size: 55px;
}

.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
  position: absolute;
  top: -181px;
  right: -87px;

  max-width: unset;
  width: 894px;
  height: 940px;

  pointer-events: none;
}

/* button */

.btn {
  display: inline-block;
  padding: 25px 45px;
  color: #fff !important;

  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;

  font-size: 20px;
  font-weight: 600;
}

.btn:hover {
  color: rgb(133, 119, 119) !important;
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn--login {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
}
